.idea/
.vscode/
*/node_modules/
*/build/
*/tmp/
*/temp/
*.pyc
*/migrations/*.py
*/dist/
/backend/public/*
/backend/templates/*
*/__pycache__/
*/.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*documents/
*documents/*